<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.bws.infrastructure.repository.RuleRepository">

    <resultMap id="BaseResultMap" type="org.example.bws.domain.model.Rule">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="rule_id" property="ruleId" jdbcType="INTEGER"/>
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>

        <result
            column="battery_type"
            property="batteryType"
            jdbcType="TINYINT"
            typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>

        <result
            column="alert_rules"
            property="alertRules"
            jdbcType="OTHER"
            typeHandler="org.example.bws.infrastructure.handler.JsonListTypeHandler"/>
    </resultMap>

    <select id="selectByRuleId" resultMap="BaseResultMap">
        SELECT
            id,
            rule_id,
            rule_name,
            battery_type,
            alert_rules
        FROM rule
        WHERE rule_id = #{ruleId, jdbcType=INTEGER} AND battery_type = #{batteryType.value, jdbcType=TINYINT}
    </select>

    <!-- 根据电池类型查询 -->
    <select id="selectByBatteryType" resultMap="BaseResultMap">
        SELECT
            id,
            rule_id,
            rule_name,
            battery_type,
            alert_rules
        FROM rule
        WHERE battery_type = #{batteryType.value, jdbcType=TINYINT}
    </select>

</mapper>